@mixin nunitoSans(){
  font-family: "Nunito Sans", "Arial";
  font-weight: 700;
}

@mixin nunitoSans(){
  font-family: "Khula", "Arial";
  font-weight: 700;
}

@mixin ramabhadra(){
  font-family: "Ramabhadra", "Arial";
  font-weight: 400;
}

@mixin roboto(){
  font-family: "Roboto", "Arial";
  font-weight: 700;
}

@mixin robotoSlab(){
  font-family: "Roboto Slab", "Arial";
  font-weight: 700;
}